<!-- MENU -->
<div class="mob-menu">
   <div class="box-menu active" mat-ripple>
      <div class="bm-item" title="Home">
         <mat-icon>home</mat-icon>
         <span>Home</span>
      </div>
   </div>
   <div class="box-menu" mat-ripple>
      <div class="bm-item" title="Profile">
         <mat-icon>playlist_add</mat-icon>
         <span>Create Notes</span>
      </div>
   </div>
   <div class="box-menu" mat-ripple>
      <div class="bm-item" title="Notes">
         <mat-icon>format_list_numbered</mat-icon>
         <span>List Notes</span>
      </div>
   </div>
   <div class="box-menu" mat-ripple>
      <div class="bm-item" title="Settings">
         <mat-icon>person</mat-icon>
         <span>Profile</span>
      </div>
   </div>
</div>
